{% if widget.is_initial %}
<p>{{ widget.initial_text }}:</p>
<a href="{{ widget.value.url }}">
    <img width="96" height="96" src="{{ widget.value.url }}" alt="" class="rounded shadow-sm mt-5">
</a>
{% if not widget.required %}
<div class="custom-control custom-checkbox mt-2">
    <input id="{{ widget.checkbox_id }}" type="checkbox" class="custom-control-input" name="{{ widget.checkbox_name }}">
    <label for="{{ widget.checkbox_id }}"
        class="custom-control-label text-danger">{{ widget.clear_checkbox_label }}</label>
</div>
{% endif %}<br>
{{ widget.input_text }}
{% endif %}
<span class="btn btn-black rounded-0 btn-file">
    Select Image <input id="new-image" type="{{ widget.type }}" name="{{ widget.name }}"
        {% include "django/forms/widgets/attrs.html" %}>
</span>
<strong>
    <p class="text-danger" id="filename"></p>
</strong>