<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">All Services</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">All Products</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Waxing</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="" class="dropdown-item">Warm Strip Wax</a>
                <a href="" class="dropdown-item">Hot Wax</a>
                <a href="" class="dropdown-item">All Waxing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Eye Treatments</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="" class="dropdown-item">Eyebrows</a>
                <a href="" class="dropdown-item">Eyelashes</a>
                <a href="" class="dropdown-item">Brows &amp; Lashes</a>
                <a href="" class="dropdown-item">All Eye Treatments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Face</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="" class="dropdown-item">Threading</a>
                <a href="" class="dropdown-item">Facial</a>
                <a href="" class="dropdown-item">Semi-permanent Makeup</a>
                <a href="" class="dropdown-item">Products</a>
                <a href="" class="dropdown-item">All Face</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Nails</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="" class="dropdown-item">Hands</a>
                <a href="" class="dropdown-item">Feet</a>
                <a href="" class="dropdown-item">Removal &amp; Reapplication</a>
                <a href="" class="dropdown-item">Products</a>
                <a href="" class="dropdown-item">All Nails</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Body</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="" class="dropdown-item">Pre/Post Natal Massage</a>
                <a href="" class="dropdown-item">Anti-Cellulite Massage</a>
                <a href="" class="dropdown-item">Deep Tissue Massage</a>
                <a href="" class="dropdown-item">Indian Head Massage</a>
                <a href="" class="dropdown-item">Thai Foot Massage</a>
                <a href="" class="dropdown-item">Products</a>
                <a href="" class="dropdown-item">All Body</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Special Offers</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="" class="dropdown-item">Featured</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Sale</a>
                <a href="" class="dropdown-item">All Offers</a>
            </div>
        </li>
    </ul>
</div>