<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">All Products & Services</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Rating</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?category=featured_p,eye_products,face_products,nail_products,body_products,special_products,featured_s,waxing_services,strip_wax,hot_wax,eye_services,lashes,brows,brow_lash,face_services,thread,facial,semi_perm,nail_services,hands,feet,remove,body_services,massage,deals"
                    class="dropdown-item">All
                    Products & Services</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Waxing</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="{% url 'products' %}?category=waxing_services" class="dropdown-item">Waxing Services</a>
                <a href="{% url 'products' %}?category=strip_wax" class="dropdown-item">Warm Strip
                    Wax</a>
                <a href="{% url 'products' %}?category=hot_wax" class="dropdown-item">Hot Wax</a>
                <a href="{% url 'products' %}?category=waxing_services,strip_wax,hot_wax" class="dropdown-item">All
                    Waxing</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Eyes</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="{% url 'products' %}?category=eye_services" class="dropdown-item">Eye Services</a>
                <a href="{% url 'products' %}?category=brows" class="dropdown-item">Eyebrows</a>
                <a href="{% url 'products' %}?category=lashes" class="dropdown-item">Eyelashes</a>
                <a href="{% url 'products' %}?category=brow_lash" class="dropdown-item">Brows &amp; Lashes</a>
                <a href="{% url 'products' %}?category=eye_products" class="dropdown-item">Eye Products</a>
                <a href="{% url 'products' %}?category=eye_services,lashes,brows,brow_lash" class="dropdown-item">All
                    Eye Treatments</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Face</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="{% url 'products' %}?category=face_services" class="dropdown-item">Face Services</a>
                <a href="{% url 'products' %}?category=thread" class="dropdown-item">Threading</a>
                <a href="{% url 'products' %}?category=facial" class="dropdown-item">Facial</a>
                <a href="{% url 'products' %}?category=semi_perm" class="dropdown-item">Semi-permanent Makeup</a>
                <a href="{% url 'products' %}?category=face_products" class="dropdown-item">Face Products</a>
                <a href="{% url 'products' %}?category=face_services,thread,facial,semi_perm" class="dropdown-item">All
                    Face</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Nails</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="{% url 'products' %}?category=nail_services" class="dropdown-item">Nail Services</a>
                <a href="{% url 'products' %}?category=hands" class="dropdown-item">Hands</a>
                <a href="{% url 'products' %}?category=feet" class="dropdown-item">Feet</a>
                <a href="{% url 'products' %}?category=remove" class="dropdown-item">Removal &amp; Reapplication</a>
                <a href="{% url 'products' %}?category=nail_products" class="dropdown-item">Nail Products</a>
                <a href="{% url 'products' %}?category=nail_services,hands,feet,remove" class="dropdown-item">All
                    Nails</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Body</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="{% url 'products' %}?category=body_services" class="dropdown-item">Body Services</a>
                <a href="{% url 'products' %}?category=massage" class="dropdown-item">Massage</a>
                <a href="{% url 'products' %}?category=body_products" class="dropdown-item">Body Products</a>
                <a href="{% url 'products' %}?category=body_services,massage" class="dropdown-item">All Body</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="#" class="font-weight-bold text-grey nav-link mr-5" id="services-link" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">Special Offers</a>
            <div class="dropdown-menu border-0" aria-labelledby="services-link">
                <a href="{% url 'products' %}?category=featured_p,featured_s" class="dropdown-item">Featured</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=special_products" class="dropdown-item">Special
                    Offers</a>
                <a href="{% url 'products' %}?category=featured_p,featured_s,deals,special_products"
                    class="dropdown-item">All
                    Offers</a>
            </div>
        </li>
    </ul>
</div>