{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'services/css/service.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="profile-overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <hr>
            <h2 class="mb-4 text-center">Book Your Service</h2>
            <hr>
        </div>
    </div>
    {% endblock %}

    {% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
    {% endblock %}